* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.cap {
  height: 800px;
  background-image: url(image/fon.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.cap__bigstar {
  position: absolute;
  right: -488px;
  top: -333.46px;
}

.cap__bigminstar {
  position: absolute;
  display: none;
}

.cap__star1 {
  position: absolute;
  left: 63px;
  top: 94px;
}

.cap__minstar1 {
  display: none;
}

.cap__star2 {
  position: absolute;
  left: 156px;
  top: 69px;
}

.cap__minstar2 {
  display: none;
}

.cap__star3 {
  position: absolute;
  left: 948px;
  top: 538px;
}

.cap__minstar3 {
  display: none;
}

.cap__star4 {
  position: absolute;
  left: 1013px;
  top: 568px;
}

.cap__minstar4 {
  display: none;
}

.cap__content {
  width: 768px;
  margin-top: 196px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24;
  z-index: 2;
}

.cap__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.cap__info {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
}

.cap__button {
  width: 247px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 16px 28px 16px 28px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 48px;
}

.cap__button:hover {
  background-color: #ffffff;
  color: black;
}

.scrolling {
  overflow: hidden;
}

.scrolling__scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-games {
  height: 1470px;
  background-image: url(image/fon2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.about-games__star1 {
  position: absolute;
  left: 45.18px;
  margin-top: 822px;
}

.about-games__star2 {
  position: absolute;
  left: 27.97px;
  margin-top: 770px;
}

.about-games__star3 {
  position: absolute;
  left: 933px;
  margin-top: 94px;
}

.about-games__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24;
}

.about-games__names {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin-top: 94px;
}

.about-games__information {
  width: 788px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 72px;
}

.about-games__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: start;
}

.about-games__product {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  z-index: 2;
}
.about-games__product_card {
  margin-top: 40px;
}

.about-games__product:hover {
  transform: scale(1.1);
}

.about-games__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-games__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-games__number {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
  margin-top: 32px;
  margin-left: 32px;
}

.about-games__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  margin-top: 16px;
  margin-left: 32px;
  margin-bottom: 36px;
}

.mini-games {
  background-image: url(image/fon2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.mini-games__star1 {
  position: absolute;
  left: 1281.33px;
  top: 2363px;
}

.mini-games__star2 {
  position: absolute;
  left: 1326.54px;
  top: 2396px;
}

.mini-games__star3 {
  position: absolute;
  left: 1319px;
  top: 5636px;
}

.mini-games__star4 {
  position: absolute;
  left: 1249px;
  top: 5684px;
}

.mini-games__names {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin-top: 96px;
  margin-bottom: 72px;
}

.mini-games__card {
  display: flex;
  flex-direction: column;
}

.mini-games__product {
  display: flex;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  margin-bottom: 32px;
  justify-content: flex-start;
}
.mini-games__product_card {
  justify-content: space-between;
}

.mini-games__image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mini-games__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;
}

.mini-games__name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}

.mini-games__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 36px;
}

.mini-games__button {
  width: 247px;
  padding: 16px 28px 16px 28px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}

.mini-games__button:hover {
  background-color: #ffffff;
  color: black;
}

.basement {
  height: 150px;
  background-image: url(image/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.basement__info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 60px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .cap {
    height: 700px;
  }
  .cap__bigstar {
    display: none;
  }
  .cap__bigminstar {
    margin-left: 188px;
    top: -40.43px;
    display: block;
  }
  .cap__star1 {
    display: none;
  }
  .cap__minstar1 {
    display: block;
    position: absolute;
    left: 38px;
    top: 97px;
  }
  .cap__star2 {
    display: none;
  }
  .cap__minstar2 {
    display: block;
    position: absolute;
    left: 92px;
    top: 64px;
  }
  .cap__star3 {
    display: none;
  }
  .cap__minstar3 {
    display: block;
    position: absolute;
    left: 273px;
    top: 557px;
  }
  .cap__star4 {
    display: none;
  }
  .cap__minstar4 {
    display: block;
    position: absolute;
    left: 304px;
    top: 580px;
  }
  .cap__content {
    width: 376px;
    margin-top: 146px;
    align-items: center;
  }
  .cap__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .cap__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .cap__button {
    width: 285px;
    font-size: 16px;
    font-weight: 600;
  }
  .cap__button:hover {
    background-color: black;
    color: #ffffff;
  }
  .about-games {
    display: none;
  }
  .mini-games__names {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .mini-games__product {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  .mini-games__product_card {
    flex-direction: column-reverse;
  }
  .mini-games__info {
    padding: 34px;
  }
  .mini-games__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 16px;
  }
  .mini-games__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
  }
  .mini-games__button:hover {
    background-color: black;
    color: #ffffff;
  }
  .mini-games .basement {
    height: 100px;
  }
  .mini-games .basement__info {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */